<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
        <modules>
            <remove name="WebDAVModule" />
        </modules>
        <handlers>
	<remove name="WebDAV" />
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Python311\python.exe|&quot;C:\Program Files\Python311\Lib\site-packages\wfastcgi.py&quot;" resourceType="Unspecified" />
         <!-- <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Python311\python.exe|C:\Program Files\Python311\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" /> -->
	
  </handlers>
        <httpErrors errorMode="Detailed" />

</system.webServer>
<appSettings>
  <!-- Required settings -->
  <add key="WSGI_HANDLER" value="app.app" />
  <!-- <add key="PYTHONPATH" value="C:\Users\Administrator\AppData\Local\Programs\Python\Python37\python37.zip;C:\Users\Administrator\AppData\Local\Programs\Python\Python37\DLLs;C:\Users\Administrator\AppData\Local\Programs\Python\Python37\lib;C:\Users\Administrator\AppData\Local\Programs\Python\Python37;C:\Users\Administrator\AppData\Local\Programs\Python\Python37\lib\site-packages;" /> -->
<add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />

</appSettings>
</configuration>